<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VMPinterestDemo copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VMPinterestDemo copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VMPinterestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF0E27A61696CDEF00F2AAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA4724B16DE5F34000E5F0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA472C416DE5FC8000E5F0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF4F94216E4CCF900275E7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
